/* --------------------entrada---------------------- */
.home{
    width: 100%;
    height: 50vh;
    background-image: url(../img/galeria/_MG_0650.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: #f2ca0079;
    background-position: bottom;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}
.home *{
    position: relative;
    z-index: 2;
}
.home::after{
    content: "";
    z-index: 1;
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #1f1b1c5d;
}

/* ----------------------video------------------ */
.video{
    height: 80vh;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    background-color: #f2ca0013;
}
.video > :nth-child(1){
    height: 80%;
    position: relative;
    z-index: 2;
}
.video > :nth-child(1) *{
    position: relative;
    z-index: 2;
}
.video > :nth-child(1)::after{
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    top: -10%;
    left: -50%;
    background-color: #2a9d499f;
    border-radius: 50%;
    z-index: 1;
}
.video > :nth-child(1)::before{
    content: "";
    width: 200px;
    height: 200px;
    position: absolute;
    bottom: -10%;
    right: -50%;
    background-color: #8cc52c;
    border-radius: 50%;
    z-index: 1;
}
.video-mov{
    height: 85%;
    width: auto;
    border-radius: 20px;
    box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.356);
}
.controles{
    height: 15%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 1px 1px 15px 2px rgba(0, 0, 0, 0.356);
}
.bgW{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    background-color: #f2ca0036;
}
#continue{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background-color: #f2ca0065;
    transition: .3s ease;
}
#continue:hover{
    transform: scale(.98);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.089);
}
.rebotar{
    animation: rebotar .3s linear ;
    animation-iteration-count: 1;
}
@keyframes rebotar {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(.8);
    }
    100%{
        transform: scale(1);
    }
}
#play, #pause{
    transition: .3s ease-in-out;
}
.home-texts{
    width: 60%;
    height: 70%;
    border-radius: 10px;
    backdrop-filter: blur(5px);
    box-shadow: 1px 1px 10px 1px #f2ca002c;
    background-color: #f2ca000c;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ---------------------mision y vision----------------- */
.mision-vision{
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
}
.mv{
    width: 40%;
    height: 85%;
    border-radius: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
#mv1{
    background-color: #8dc52c;
    position: relative;
}
#mv2{
    background-color: #2a9d49;
    position: relative;
}
.mv *{
    position: relative;
    z-index: 3;
}
.mv::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    background-color: rgba(255, 255, 255, 0.548);
    z-index: 2;
}
.mv > :nth-child(1){
    width: 80%;
    height: 90%;
    text-align: center;
}

/* --------------------historia----------------------- */
.historia{
    background-color: #f2ca000c;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    position: relative;
    z-index: 2;
}
.historia-texto{
    width: 80%;
    padding: 30px 35px;
    border-radius: 30px;
    background-color: #f2ca0062;
    position: relative;
    z-index: 2;
}
.historia::after{
    content: "";
    position: absolute;
    bottom: 8%;
    left: 3%;
    width: 200px;
    height: 200px;
    background-color: #2a9d49;    
    border-radius: 50%;
    z-index: 1;
}
.historia::before{
    content: "";
    position: absolute;
    width: 200px;
    height: 200px;
    top: 8%;
    right: 3%;
    border-radius: 50%;
    background-color: #8dc52cc5;
    z-index: 1;
}

/* -----------------galeria---------------- */
.galeria{
    width: 100%;
    height: 180vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url(../img/galeria/_MG_0708.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-blend-mode: multiply;
    border-radius: 20px;
}
.galeria-int{
    border: 1px solid black;
    border-radius: 20px;
    width: 99%;
    height: 98%;
    background: linear-gradient(45deg, #2a9d494f, #8dc52c79, #3bbd5d4f);
    backdrop-filter: blur(5px);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 10px;
    padding: 5px;
}
.galeria-pht{
    border: solid black;
    border-radius: 20px;
    cursor: pointer;
    transition: .3s ease;
}
.galeria-pht:hover{
    box-shadow: 1px 1px 15px 1px rgba(0, 0, 0, 0.486);   
}
.galeria-int > :nth-child(1){
    grid-row: span 2;
}
.galeria-int > :nth-child(3){
    grid-column: span 2;
}
.galeria-int > :nth-child(5){
    grid-row: span 2;
}
.galeria-int > :nth-child(7){
    grid-column: span 2;
}
.galeria-int > :nth-child(8){
    grid-row: span 2;
}
.galeria-int > :nth-child(10){
    grid-column: span 2;
}
.galeria-int > :nth-child(11){
    grid-column: span 2;
}
.galeria-int > :nth-child(12){
    grid-column: span 2;
}
.pht-pht{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}