body{
    position: relative;
}
.container-Induccion{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    z-index: 2;
}
.title-border{
    border-top: solid black;
    border-bottom: solid black;
    width: fit-content;
    margin: 0 auto;
}
h2{
    font-size: 1.1rem;
    text-transform: uppercase;
    margin-bottom: .5rem;
}
ol{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    width: 70%;
    margin: auto;
}
.indicador-list{
    font-weight: bold;
    font-size: 1rem;
}
.headerInduccion{
    width: 100%;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 3;
    background-color: beige;
    border-radius: 0 0 25px 25px;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.199);
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 1rem;
    padding: 1rem;
}
.InBack{
    color: #f2ca00;
    cursor: pointer;
    transition: .2s ease;
}
.InBack:hover{
    color: black;
}
.user{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.contentInduccion{
    width: 95%;
    height: fit-content;
    z-index: 2;
    position: relative;
    padding-top: 12vh;
    display: flex;
    justify-content: center;
}
.CI_int{
    width: 95%;
    min-height: 110vh;
    height: fit-content;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* border: solid black; */
}

/* articulos */
#a-1{
    /* border: solid black; */
    text-align: center;
    border-radius: 25px;
    padding: 2rem;
    background-color: #f2ca004d;
}
#a-1 p{
    max-width: 70%;
    font-size: 1.2rem;
    margin: auto;
}
#a-MV{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    margin: 1.5rem 0;
}
#a-MV article{
    width: 50%;
    height: 40vh;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-radius: 25px;
}
#a-MV > :nth-child(1){
    background-color: #8dc52c8a;
}
#a-MV > :nth-child(2){
    background-color: #8dc52c8a;
}
#a-2{
    text-align: center;
    padding: 2.5rem 0;
    border-radius: 25px;
    background-color: #2a9d498e;
    margin-bottom: 1.5rem;
}
#a-2 > div{
    display: flex;
    justify-content: space-between;
}
#a-2 > div div{
    width: 25%;
    padding: 0 1rem;
    border-right: solid 3px black;
}
#a-2 > div > :nth-child(4){
    border-right: none;
}
#a-3{
    /* border: solid black; */
    margin: 1.5rem 0;
    text-align: center;
    padding: 2rem;
    border-radius: 25px;
    background-color: #f2ca004d;
}
#a-3 > div ol{
    /* border: solid blue; */
    width: 70%;
    margin-left: 1rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
    margin: auto;
}
#a-3 > div p{
    width: 70%;
    margin: auto;
}
#a-4{
    margin: 1.5rem 0;
    width: 100%;
    text-align: center;
    padding: 2rem;
    border-radius: 25px;
    background-color: #9fd3ad;
}
#a-4 p{
    width: 70%;
    margin: .5rem auto;
}
#a-4 h1{
    margin: .5rem;
    text-transform: uppercase;
}
#a-4-1{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.5rem 0;
}
#a-4-1 > div{
    width: 50%;
    padding: 0 1.5rem;
    border-right: solid black;
}
#a-4-1 > div:nth-child(2){
    border-right: none;
}
#a-4-2 > div{
    display: flex;
    padding: 1rem 0;
}
#a-4-2 > div > div{
    width: 50%;
    padding: 0 5rem;
}
#a-4-2 > div > div:nth-child(2){
    border-left: solid black;
}
#a-5{
    margin: 1.5rem 0;
    width: 100%;
    border-radius: 25px;
    background-color: #8dc52c8a;
    text-align: center;
    padding: 2rem;
}
#a-5 p{
    width: 70%;
    margin: .5rem auto;
}
#nota{
    border: 1px solid red;
    border-radius: 25px;
    background-color: rgba(255, 0, 0, 0.336);
    padding: 1rem;
}
.dot{
    font-size: .4rem;

    transform: translate(-50%, -50%);
}

/* quizes */
.containerModal-quizes{
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    min-height: 100vh;
    height: fit-content;
    background-color: rgba(0, 0, 0, 0.637);
    backdrop-filter: blur(5px);
    z-index: 100;
    opacity: 0;
    transition: .2s ease;
}
#modal-quiz-container-1.active{
    opacity: 1;
}
#modal-quiz-container-completed.active{
    opacity: 1;
}
.quizContainer{
    width: 60%;
    height: 90vh;
    /* display: flex;
    flex-direction: column;
    justify-content: center; */
    background-color: beige;
    border-radius: 25px;
    padding: 2rem;
    overflow-y: scroll;
    font-family: mont-regular;
}
.quizContainer form{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    /* height: 30%; */
}
.containerR{
    width: 100%;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 2rem;
    text-align: center;
    border-radius: 25px;
    background-color: white;
}
.pregunta{
    text-align: left;
}
#mensaje{
    display: none;
    text-align: center;
    font-family: mont-regular;
    position: fixed;
    top: 10%;
    left: 5%;
    border-radius: 25px;
    padding: 2rem;
    background-color: beige;
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.199);
    opacity: 0;
}
#mensaje.active{
    opacity: 1;
}
