<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Fundación Huellas del Ayer - Cuidado y bienestar para adultos mayores. Conoce nuestros programas y servicios. ¡Contáctanos!">
    <meta name="keywords" content="Fundación, Huellas del Ayer, adultos mayores, cuidado, bienestar, programas, servicios, contacto">
    <meta name="author" content="Fundación Huellas del Ayer">
    <meta name="robots" content="index, follow">
    <meta name="theme-color" content="#f2ca007c">
    <meta property="og:title" content="Fundación Huellas del Ayer - Cuidado y bienestar para adultos mayores">
    <meta property="og:description" content="En Fundación Huellas del Ayer trabajamos con amor para brindar bienestar a nuestros adultos mayores. Conoce nuestros programas y servicios. ¡Contáctanos!">
    <meta property="og:image" content="https://www.fundacionhuellasdelayer.com/frontend/img/logos/LOGO%20HUELLAS.png">
    <meta property="og:url" content="https://www.fundacionhuellasdelayer.com">
    <meta property="og:type" content="website">
    <meta property="og:site_name" content="Fundación Huellas del Ayer">
    <meta property="og:locale" content="es_CO">
    <meta property="og:image:width" content="1200">
    <meta property="og:image:height" content="630">
    <meta property="og:image:type" content="image/png">
    <meta property="og:image:alt" content="Logo de la Fundación Huellas del Ayer">
    <meta property="og:image:secure_url" content="https://www.fundacionhuellasdelayer.com/frontend/img/logos/LOGO%20HUELLAS.png">
    <meta name="twitter:card" content="https://www.fundacionhuellasdelayer.com/frontend/img/logos/LOGO%20HUELLAS.png">
    <meta name="twitter:title" content="Fundación Huellas del Ayer - Cuidado y bienestar para adultos mayores">
    <meta name="twitter:description" content="En Fundación Huellas del Ayer trabajamos con amor para brindar bienestar a nuestros adultos mayores. Conoce nuestros programas y servicios. ¡Contáctanos!">
    <meta name="twitter:image" content="https://www.fundacionhuellasdelayer.com/frontend/img/logos/LOGO%20HUELLAS.png">
    <meta name="twitter:image:alt" content="Logo de la Fundación Huellas del Ayer">
    <link rel="icon" href="frontend/img/logos/LOGO HUELLAS.png" type="image/x-icon">
    <title>Fundacion Huellas del Ayer</title>
    <link rel="stylesheet" href="frontend/css/index.css">
    <link rel="stylesheet" href="frontend/css/home.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <section class="container">
        <div class="preliminar">
            <div id="tel-email">
                <div class="tel-email-int" data-aos="zoom-in" data-aos-duration="500">
                    <i class="fa-solid fa-phone-flip"></i>
                    <p class="light">+57 300 813 38 29</p>
                </div>
                <div class="tel-email-int" data-aos="zoom-in" data-aos-duration="500">
                    <i class="fa-solid fa-envelope"></i>
                    <p><a href="" class="correo light">fundacionhuellasdelayer@gmail.com</a></p>
                </div>
            </div>
            <div class="pre-redes"> 
                <a href="https://www.instagram.com/" target="_blank" class="redes-link"><i class="fa-brands fa-instagram redes" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="100"></i></a>
                <a href="https://www.tiktok.com/" target="_blank" class="redes-link"><i class="fa-brands fa-tiktok redes" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="150"></i></a>
                <a href="https://www.whatsapp.com/" target="_blank" class="redes-link"><i class="fa-brands fa-whatsapp redes" data-aos="zoom-in" data-aos-duration="500" data-aos-delay="200"></i></a>
            </div>
        </div>
        <div class="header">
            <div class="logo">
                <a href="#"><img class="logo-img" src="frontend/img/logos/LOGO HUELLAS.png" alt="logo" data-aos="fade-up" data-aos-duration="700"></a>
            </div>
            <div class="menu">
                <nav>
                    <ul>
                        <li><a class="header-link light" href="#" class="regular position" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="100">Inicio</a></li>
                        <li><a class="header-link light" href="frontend/templates/us.html" class="regular option" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="150">Nosotros</a></li>
                        <li><a class="header-link light" href="frontend/templates/induccionacces.php">Inducción</a></li>
                        <li><a class="header-link light" href="frontend/templates/docs.html" class="regular option" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="300">Transparencia</a></li>
                        <li><a class="header-link light" href="frontend/templates/contacto.php" class="regular option" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="350">Contacto</a></li>
                    </ul>
                </nav>
            </div>
            <div class="menu-movil">
                <div class="menu-toggle" id="menu-toggle">
                    <i class="fa-solid fa-bars fa-2x"></i>
                </div>
                <div class="menu-float" id="menu-float">
                    <div class="menu-float-container">
                        <div class="close-toggle" id="close-toggle">
                            <i class="fa-solid fa-xmark fa-2x"></i>
                        </div>
                        <div class="options">
                            <nav>
                                <ul class="menu-float-ul">
                                    <li><a class="header-link bold x1-5" href="#" class="regular position" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="100">Inicio</a></li>
                                    <li><a class="header-link bold x1-5" href="frontend/templates/us.html" class="regular option" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="150">Nosotros</a></li>
                                    <li><a class="header-link bold x1-5" href="frontend/templates/induccionacces.php">Inducción</a></li>
                                    <li><a class="header-link bold x1-5" href="frontend/templates/docs.html" class="regular option" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="300">Transparencia</a></li>
                                    <li><a class="header-link bold x1-5" href="frontend/templates/contacto.php" class="regular option" data-aos="zoom-in" data-aos-duration="700" data-aos-delay="350">Contacto</a></li>
                                </ul>
                            </nav>
                        </div>
                        <div class="menu-float-fot">
                            <p class="bold x1-5">ESCRIBENOS</p>
                            <ul class="m-f-ul">
                                <li>
                                    <a href="" class="header-link regular">
                                        <p>+57 300 813 38 29</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="header-link regular">
                                        <p>fundacionhuellas<br>delayer@gmail.com</p>
                                    </a>
                                </li>
                            </ul>
                            <p class="bold x1-5">SIGUENOS</p>
                            <ul class="m-f-ul">
                                <li>
                                    <a href="" class="header-link regular" style="display: flex; gap: 5px;">
                                        <i class="fa-brands fa-whatsapp redes"></i>
                                        <p>Instagram</p>
                                    </a>
                                </li>
                                <li>
                                    <a href="" class="header-link regular" style="display: flex; gap: 5px;">
                                        <i class="fa-brands fa-tiktok redes"></i>
                                        <p>Tik Tok</p>
                                    </a>
                                </li>
                            </ul>
                            <div class="logo-menu">
                                <a href="#"><img class="logo-img" src="frontend/img/logos/LOGO HUELLAS.png" alt="logo"></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="home">
            <div data-aos="fade-right" data-aos-duration="700" data-aos-delay="50">
                <h1 class="bold">TRABJAMOS JUNTOS PARA</h1>
                <H2 class="bold res-texts">NUESTROS ADULTOS MAYORES</H2>
                <div class="separador-nn"></div>
                <H3 class="light">En Fundación Huellas del Ayer trabajamos con amor</H3>
                <div class="separador-nn"></div>
                <a href="frontend/templates/projects.html" id="knowB" class="light" data-aos="fade-up" data-aos-duration="700">¡CONOCÉ NUESTROS PROGRAMAS!</a>
            </div>
        </div>
        <div class="preview">
            <div class="preview-content">
                <h1 class="regular" data-aos="fade-down" data-aos-duration="700" data-aos-delay="50"><span class="light">NUESTROS</span> PROFESIONALES</h1>
                <br>
                <div class="separador" data-aos="fade-down" data-aos-duration="700" data-aos-delay="200"></div>
                <br>
                <p class="regular" data-aos="fade-down" data-aos-duration="700" data-aos-delay="400">Nuestros adultos mayores son lo más importante,<br> por eso contamos con profesionales de la salud para atender sus necesidades</p>
            </div>
            <div class="preview-content">
                <div class="pro" data-aos="fade-up" data-aos-duration="700" data-aos-delay="0">
                    <div id="mt1" class="pro-image">
                        <div class="pro-image-content">
                            <h2 class="regular WHITE">ESPECIALISTAS EN NUTRICION</h2>
                        </div>
                    </div>
                </div>
                <div class="pro" data-aos="fade-up" data-aos-duration="700" data-aos-delay="100">
                    <div id="mt2" class="pro-image">
                        <div class="pro-image-content">
                            <h2 class="regular WHITE">APOYO PSICOLOGICO PROFESIONAL</h2>
                        </div>
                    </div>
                </div>
                <div class="pro" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200"> 
                    <div id="mt3" class="pro-image">
                        <div class="pro-image-content">
                            <h2 class="regular WHITE">RED DE APOYO SOCIAL</h2>
                        </div>
                    </div>
                </div>
                <div class="pro" data-aos="fade-up" data-aos-duration="700" data-aos-delay="0">
                    <div id="mt4" class="pro-image">
                        <div class="pro-image-content">
                            <h2 class="regular WHITE">ACOMPAÑAMIENTO Y CUIDADO DEDICADO</h2>
                        </div>
                    </div>
                </div>
                <div class="pro" data-aos="fade-up" data-aos-duration="700" data-aos-delay="100">
                    <div id="mt5" class="pro-image">
                        <div class="pro-image-content">
                            <h2 class="regular WHITE">TERAPIA OCUPACIONAL PERSONALIZADA</h2>
                        </div>
                    </div>
                </div>
                <div class="pro" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                    <div id="mt6" class="pro-image">
                        <div class="pro-image-content">
                            <h2 class="regular WHITE">CUIDADO MÉDICO INTEGRAL</h2>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <script>
                // variables de los modales
                const cajon = document.querySelector('.modales');
                const cerrar = document.querySelectorAll('.cerrar');
                const modales = [
                    {tarjeta: document.getElementById('mt1'), ventana: document.getElementById('modal1')}, 
                    {tarjeta: document.getElementById('mt2'), ventana: document.getElementById('modal2')}, 
                    {tarjeta: document.getElementById('mt3'), ventana: document.getElementById('modal3')}, 
                    {tarjeta: document.getElementById('mt4'), ventana: document.getElementById('modal4')}, 
                    {tarjeta: document.getElementById('mt5'), ventana: document.getElementById('modal5')}, 
                    {tarjeta: document.getElementById('mt6'), ventana: document.getElementById('modal6')}
                ];

                modales.forEach(modal => {
                    modal.tarjeta.addEventListener("click", () => {
                        modales.forEach(m => m.ventana.style.display = "none")
                        cajon.style.display = "flex";
                        setTimeout(() => {
                            cajon.style.opacity = "1";
                        }, 10)
                        modal.ventana.style.display = "block";
                    });
                });
                cerrar.forEach(close => {
                    close.addEventListener("click", () => {
                        cajon.style.opacity = "0";
                        setTimeout(() => {
                            cajon.style.display = "none";
                            modal.ventana.style.display = "none";
                        }, 300);
                    });
                });
            </script> -->
        </div>
        <div class="content" data-aos="zoom-in" data-aos-duration="700">
            <div class="contentTittle">
                <img id="logo-content" src="frontend/img/logos/logo-fondo.svg" alt="">
                <h2 class="bold x3">¿PORQUE ELEGIRNOS?</h2>
                <div class="separador"></div>
                <P class="regular x1-5">Conoce nuestros valores</P>
            </div>
        </div>
        <div class="valores">
            <!-- primeros dos valores -->
            <div class="valoresContainer">
                <div class="cuadroC">
                    <div data-aos="fade-down" data-aos-duration="700">
                        <img class="imgValor1" src="frontend/img/galeria/img8.jpg" alt="">
                    </div>
                    <div data-aos="fade-up" data-aos-duration="700">
                        <p class="valortt bold">Dignidad</p>
                        <p class="valortext light">Nuestro hogar es un espacio donde la vida se valora en cada detalle, y el cuidado es un reflejo de nuestro compromiso con la humanidad.</p>
                    </div>
                </div>
                <div class="cuadro">
                    <div data-aos="fade-down" data-aos-duration="700" data-aos-delay="100">
                        <p class="valortt bold">Esperanza</p>
                        <p class="valortext light">Cultivamos esperanza para que cada adulto mayor descubra que aún hay sueños por cumplir y momentos por disfrutar.</p>
                    </div>
                    <br>
                    <div data-aos="fade-up" data-aos-duration="700" data-aos-delay="100">
                        <img class="imgValor1" src="frontend/img/galeria/img10.jpg" alt="">
                    </div>
                </div>
            </div>
            <!-- otros dos valores -->
            <div class="valoresContainer">
                <div class="cuadro2">
                    <div data-aos="fade-down" data-aos-duration="700">
                        <p class="valortt bold">Amor</p>
                        <p class="valortext light">Aquí, el corazón de cada persona encuentra un lugar al que pertenece.</p>
                    </div>
                    <div data-aos="fade-up" data-aos-duration="700">
                        <img class="imgValor2" src="frontend/img/galeria/img10.jpg" alt="">
                    </div>
                </div>
                <div class="cuadroC2">
                    <div data-aos="fade-down" data-aos-duration="700" data-aos-delay="100">
                        <img class="imgValor2" src="frontend/img/galeria/img6.jpg" alt="">
                    </div>
                    <div data-aos="fade-up" data-aos-duration="700" data-aos-delay="100">
                        <p class="valortt bold">Solidaridad</p>
                        <p class="light">Aquí, cada acto de bondad construye un puente de apoyo y amor, recordándonos que la verdadera riqueza está en compartir y cuidarnos unos a otros.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="separador" data-aos="fade-down" data-aos-duration="700"></div>
        <br>
        <div class="separador" data-aos="fade-up" data-aos-duration="700"></div>
        <div class="content2">
            <div>
                <div id="imgC2" data-aos="fade-right" data-aos-duration="700">
                </div>
                <div id="textC2">
                    <br>
                    <h1 class="bold" data-aos="fade-down" data-aos-duration="700">Hemos ayudado a miles de personas</h1>
                    <br>
                    <div class="separador" data-aos="zoom-in" data-aos-duration="700"></div>
                    <br>
                    <p class="regular" data-aos="fade-up" data-aos-duration="700">
                        En nuestra fundación, brindamos un hogar lleno de cariño, respeto y compañía a quienes más lo necesitan. Cada historia que llega a nosotros se transforma en una oportunidad para ofrecer bienestar, atención integral y una comunidad que valora la experiencia y la sabiduría de nuestros adultos mayores.
                        ¿Te gustaría saber cómo transformamos vidas?
                    </p>
                    <div id="numeros">
                        <div class="numeros" data-end="350" data-time="5000" data-aos="fade-up" data-aos-duration="700" data-aos-delay="0">
                            <p class="light">cosa 1</p>
                            <span class="black numeros_number"></span>
                        </div>
                        <div class="numeros" data-end="500" data-time="6000" data-aos="fade-up" data-aos-duration="700" data-aos-delay="200">
                            <p class="light">cosa 2</p>
                            <span class="black numeros_number"></span>
                        </div>
                        <div class="numeros" data-end="750" data-time="7000" data-aos="fade-up" data-aos-duration="700" data-aos-delay="400">
                            <p class="light">cosa 3</p>
                            <span class="black numeros_number"></span>
                        </div>
                    </div>
                    <script>
                        document.addEventListener("DOMContentLoaded", function() {
                            const numeros = document.querySelectorAll(".numeros");
                            numeros.forEach(numero => {
                                let start = 0; 
                                const end = parseInt(numero.getAttribute("data-end"));
                                const time = parseInt(numero.getAttribute("data-time"));
                                const increment = 50;
                                const incrementAmount = Math.ceil(end/(time/increment));
                                const numerito = numero.querySelector('.numeros_number');

                                function counter(){
                                    const interval = setInterval(() => {
                                        start += incrementAmount;
                                        if (start >= end){
                                            start = end; 
                                            clearInterval(interval);
                                        }
                                        numerito.textContent = start;
                                    }, increment);
                                };
                                const observar = new IntersectionObserver((entries) => {
                                    entries.forEach(entry => {
                                        if (entry.isIntersecting){
                                            counter();
                                            observar.disconnect();
                                        }
                                    });
                                });
                                observar.observe(document.getElementById('numeros'));
                            })
                        })
                    </script>
                </div>
            </div>
        </div>
        <br>
        <div class="separador" data-aos="fade-down" data-aos-duration="700"></div>
        <br>
        <div class="contact-tittle">
            <h1 class="regular">QUIERES SABER MAS?</h1>
            <br>
            <div class="separador-corto" data-aos="zoom-in" data-aos-duration="700"></div>
            <br>
        </div>
        <div class="contact">
            <div class="contact-int" data-aos="fade-right" data-aos-duration="700">

            </div>
            <div class="contact-int" data-aos="fade-down" data-aos-duration="700">
                <div style="text-align: left;">
                    <!-- <div class="separadorVertical"></div> -->
                    <div class="contact-int-text">
                        <p class="black " style="font-size: 2.5rem;">Escribenos</p>
                        <div class="sep"></div>
                        <p class="regular" style="font-size: 1.5rem;">Escribenos en el siguiente enlace, ante cualquier duda que tengas y nos pondremos en contacto contigo.</p>
                        <button class="btn-normal bold" id="contact-btn">¡Click aquí!</button>
                        <script>
                            document.getElementById('contact-btn').addEventListener("click", () => {
                                window.location.href = "frontend/templates/contacto.php"
                            })
                        </script>
                    </div>
                </div>
            </div>
            <div class="contact-int" data-aos="fade-down" data-aos-duration="700" data-aos-delay="300">
                <div style="justify-content: flex-end;">
                    <div class="contact-int-text" style="text-align: right;">
                        <p class="black " style="font-size: 2.5rem;">Contactanos</p>
                        <div class="sep" style="margin-left: 20%;"></div>
                        <p class="regular" style="font-size: 1.5rem;">Entra a nusestras redes sociales y ponte en contacto con nosotros.</p>
                        <div class="contact-int-redes">
                            <div class="redes-box">
                                <a href="https://www.instagram.com/fundacionhuellasdelayer/" target="_blank">                                <i class="fa-brands fa-instagram redes fa-3x"></i>
                                </a>
                            </div>
                            <div class="redes-box">
                                <a href="https://wa.me/573008133829" target="_blank">                                <i class="fa-brands fa-whatsapp redes fa-3x"></i>
                                </a>
                            </div>
                        </div>
                    </div>
                    <!-- <div class="separadorVertical"></div> -->
                </div>
            </div>
            <div class="contact-int" data-aos="fade-down" data-aos-duration="700" data-aos-delay="300">

            </div>
        </div>
        <div class="fotter">
            <div class="fotter-int fot-logo">
                <img src="frontend/img/logos/LOGO HUELLAS.png" alt="">
            </div>
            <div class="fotter-int fot-programas">
                <h3 class="bold fot-programas-tt">NUESTROS PROGRAMAS</h3>
                <br>
                <ul>
                    <li class="programa regular textonormal">NUTRICIÓN</li>
                    <li class="programa regular textonormal">PSICOLOGÍA</li>
                    <li class="programa regular textonormal">APOYO SOCIAL</li>
                    <li class="programa regular textonormal">ACOMPAÑAMIENTO</li>
                    <li class="programa regular textonormal">TERAPÍA OCUPACIONAL</li>
                    <li class="programa regular textonormal">CUIDADO MEDÍCO</li>
                </ul>
            </div>
            <div class="fotter-int fot-contacto">
                <h3 class="bold fot-programas-tt">CONTACTANOS O VISITANOS</h3>
                <br>
                <div class="fot-contacto-int">
                    <i class="fa-solid fa-location-dot"></i>
                    <p class="regular textonormal">Cra. 3a Este #5aa-19 a 5aa-1, San Antonio de Prado, Medellín, Antioquia</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-contacto-int">
                    <i class="fa-solid fa-clock"></i>
                    <p class="regular textonormal">8 a.m - 5 p.m</p>
                </div>
                <div class="separadorInV"></div>
                <div class="fot-contacto-int">
                    <i class="fa-solid fa-phone-flip"></i>
                    <p class="regular textonormal">+57 300 813 38 29</p>
                </div>
                <div class="separadorInV"></div>
                <a href="fundacionhuellasdelayer@gmail.com" target="_blank" class="fot-contacto-int enlace-fot">
                    <i class="fa-solid fa-envelope"></i>
                    <p class="regular textonormal">fundacionhuellasdelayer<br>@gmail.com</p>
                </a>
            </div>
            <div class="fotter-int fot-news">
                <h3 class="bold fot-programas-tt">¡SIGUENOS!</h3>
                <br><br>
                <div class="separadorInV"></div>
                <a href="https://www.instagram.com/fundacionhuellasdelayer/" target="_blank" class="fot-news-int enlace-fot">
                    <i class="fa-brands fa-instagram redes"></i>
                    <p class="regular textonormal">Instagram</p>
                </a>
                <div class="separadorInV"></div>
                <a href="https://tiktok.com" target="_blank" class="fot-news-int enlace-fot">
                    <i class="fa-brands fa-tiktok redes"></i>
                    <p class="regular textonormal">Tik Tok</p>
                </a>
                <div class="separadorInV"></div>
                <a href="https://wa.me/573008133829" target="_blank" class="fot-news-int enlace-fot">
                    <i class="fa-brands fa-whatsapp redes"></i>
                    <p class="regular textonormal">WhatsApp</p>
                </a>
            </div>
        </div>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/aos@2.3.4/dist/aos.js"></script>
    <script>
        AOS.init()
    </script>
</body>
</html>